<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WorldClockApi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reloj Mundial</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-time-widget></app-time-widget>
    <br>
    <br>
    <app-time-widget></app-time-widget>
    <br>
    <br>
    <app-time-widget></app-time-widget>
  </div>
</ion-content>
